<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
              <tr class="table-dark text-center align-middle">
                <th scope="col">ID Empleado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">N° Celular</th>
                <th scope="col">Fecha Contrato</th>
                <th scope="col">ID Trabajo</th>
                <th scope="col">Salario</th>
                <th scope="col">Comisión</th>
                <th scope="col">ID Manager</th>
                <th scope="col">ID Departamento</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employee" class="text-center align-middle">
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone_number }}</td>
                <td>{{ employee.hire_date }}</td>
                <td>{{ employee.job_id }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.commission_pct || 'N/A' }}</td>
                <td>{{ employee.manager_id || 'N/A' }}</td>
                <td>{{ employee.department_id || 'N/A' }}</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btn-sm me-1"><b>Modificar</b></button>
                    <button type="button" class="btn btn-danger btn-sm"><b>Eliminar</b></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center mt-3">
            <button type="button" class="btn btn-info me-3" routerLink="/insert-employee"><b><i class="bi bi-person-plus-fill"></i> Insertar </b></button>
          </div>
    </div>
    </div>
